@import "tailwindcss";

@theme {
  --color-light-50: #f6f6f6;
  --color-light-100: #f1f1f1;
  --color-light-200: #e6e6e6;
  --color-light-300: #d6d6d6;
  --color-light-400: #c7c7c7;
  --color-light-500: #b0b0b0;
  --color-light-500: #999;
  --color-light-600: #878787;
  --color-light-700: #757575;
  --color-light-800: #636363;
  --color-light-900: #545454;

  --color-dark-100: #4f4f4f;
  --color-dark-200: #474747;
  --color-dark-300: #363636;
  --color-dark-400: #2b2b2b;
  --color-dark-500: #242424;
  --color-dark-600: #1c1c1c;
  --color-dark-700: #1a1a1a;
  --color-dark-800: #141414;
  --color-dark-900: #0f0f0f;

  --color-backdrop: var(--color-light-200);
  --color-component-bg: var(--color-light-50);
  --color-text: var(--color-dark-700);
  --color-faint-text: var(--color-light-700);

  --color-accent-100: #8ec8fa;
  --color-accent-300: #4c9ce0;
  --color-accent-500: #237ecc;
  --color-accent-700: #065496;
  --color-accent-900: #00325c;
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition:
      stroke 0.3s,
      background-color 0.3s,
      border 0.3s;
  }

  html.dark-mode {
    --color-backdrop: var(--color-dark-900);
    --color-component-bg: var(--color-dark-700);
    --color-text: var(--color-light-100);
    --color-faint-text: var(--color-light-700);
  }

  body {
    font-family: "Nunito Sans", "Trebuchet MS", Tahoma, sans-serif;
  }
}

@layer components {
  .styled-scrollbar {
    @apply [&::-webkit-scrollbar]:w-1.5 [&::-webkit-scrollbar]:h-full [&::-webkit-scrollbar-thumb]:bg-faint-text/50 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-thumb]:transition-colors [&::-webkit-scrollbar-thumb]:duration-100 [&::-webkit-scrollbar-thumb:hover]:bg-faint-text/70 [&::-webkit-scrollbar-thumb:hover]:cursor-pointer [&::-webkit-scrollbar-track]:bg-transparent [&::-webkit-scrollbar-button]:hidden;
  }

  .component-container {
    @apply p-2 sm:p-4 lg:p-6 rounded-md bg-component-bg shadow-md;
  }

  .component-heading {
    @apply text-xs sm:text-sm lg:text-lg font-semibold lg:font-bold p-1;
  }

  .button-primary {
    @apply px-2 py-0.5 md:px-3 md:py-1 w-fit text-xs sm:text-sm lg:text-lg font-semibold rounded-sm md:rounded-md bg-accent-700 text-light-50 hover:bg-accent-900 cursor-pointer disabled:bg-faint-text disabled:cursor-not-allowed;
  }

  .summary-card {
    @apply col-span-2 row-span-1 relative p-3 sm:p-4 bg-component-bg rounded-md shadow-md;
  }

  .summary-icon-container {
    @apply w-12 md:w-12 aspect-square md:h-12 rounded-full flex items-center justify-center bg-backdrop shadow-[inset_0.1rem_0.15rem_0.2rem_0.1rem_rgba(0,0,0,0.1)];
  }

  .edit-transaction-form-input {
    @apply w-full px-2 md:px-3 py-1 md:py-1.5 rounded-sm text-xs md:text-sm xl:text-lg text-text font-semibold bg-backdrop outline-0 focus-visible:border-accent-500 shadow-[inset_0_0_2px_1px_rgba(0,0,0,0.1)];
  }

  .number-input-reset {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    &[type="number"] {
      -moz-appearance: textfield;
      appearance: textfield;
    }
  }

  .no-border-transition {
    transition: border 0s;
  }
}
