@import "tailwindcss";

@theme {
  --color-light-50: #f6f6f6;
  --color-light-100: #f1f1f1;
  --color-light-200: #e6e6e6;
  --color-light-300: #d6d6d6;
  --color-light-400: #c7c7c7;
  --color-light-500: #b0b0b0;
  --color-light-500: #999;
  --color-light-600: #878787;
  --color-light-700: #757575;
  --color-light-800: #636363;
  --color-light-900: #545454;

  --color-dark-100: #4f4f4f;
  --color-dark-200: #474747;
  --color-dark-300: #363636;
  --color-dark-400: #2b2b2b;
  --color-dark-500: #242424;
  --color-dark-600: #1c1c1c;
  --color-dark-700: #1a1a1a;
  --color-dark-800: #141414;
  --color-dark-900: #0f0f0f;

  --color-backdrop: var(--color-light-200);
  --color-component-bg: var(--color-light-50);
  --color-text: var(--color-dark-700);
  --color-faint-text: var(--color-light-700);

  --color-accent-100: #8ec8fa;
  --color-accent-300: #4c9ce0;
  --color-accent-500: #237ecc;
  --color-accent-700: #065496;
  --color-accent-900: #00325c;
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition:
      stroke 0.3s,
      background-color 0.3s,
      border 0.3s;
  }

  html.dark-mode {
    --color-backdrop: var(--color-dark-900);
    --color-component-bg: var(--color-dark-700);
    --color-text: var(--color-light-100);
    --color-faint-text: var(--color-light-700);
  }

  body {
    font-family: "Nunito Sans", "Trebuchet MS", Tahoma, sans-serif;
  }
}

@layer components {
  .styled-scrollbar {
    @apply [&::-webkit-scrollbar]:w-1.5 [&::-webkit-scrollbar]:h-full [&::-webkit-scrollbar-thumb]:bg-accent-300 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-thumb]:transition-colors [&::-webkit-scrollbar-thumb]:duration-100 [&::-webkit-scrollbar-thumb:hover]:bg-accent-500 [&::-webkit-scrollbar-thumb:hover]:cursor-pointer [&::-webkit-scrollbar-track]:bg-transparent [&::-webkit-scrollbar-button]:hidden;
  }

  .component-container {
    @apply p-2 sm:p-3 xl:p-4 rounded-md bg-component-bg shadow-md;
  }
}
